@model DataFormation.Formation
@{
    ViewData["Title"] = "DetailsFormation";
}

<h1>DetailsFormation</h1>


<h1>VOUS AVEZ CHOISI LA FORMATION SUIVANTE  :</h1>
<br />

    <p><b>Nom de la formation : @Model.Nom</b></p>
    <p><b>Societe : @Model.NomSeo</b></p>
    <p><b>Description : @Model.Description</b></p>
    <br />
