@model AllFormationViewModel
@{
    ViewData["Title"] = "index";
}

<h1>index</h1>
<p>@Model.Message</p>
<p>Ceci est ma vue on est d'accord c'est pas encore super chouette..hein :    @Model.Nombre</p>

